<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/images/Logo.ico" />
    <meta name="description" content="Découvrez nos soins" />
    <link rel="stylesheet" href="/styles/index.css" />
    <title>Nos Soins</title>
  </head>
  <body>
    <%- include('./components/header.ejs') %>
    <main>
      <section class="h2Produit">
        <h2>Nos Soins</h2>
        <div class="topProduit">
          <% detailsProducts.forEach(function(product) { %> <% if
          (product.categorie === 'soin') { %>
          <article>
            <h3><%= product.titre %></h3>
            <p><%= product.contenance %></p>
            <img
              src="/images/produits/<%= product.titre.split(' ').join('-') %>.webp"
              alt="Photo du produit"
            />
            <p><%= product.description %></p>
            <button>
              <a href="/products/<%= product._id %>">En savoir plus</a>
            </button>
          </article>
          <% } %> <% }); %>
        </div>
      </section>
    </main>
    <%- include('./components/footer.ejs') %>
    <script src="/scripts/burger.js"></script>
  </body>
</html>
