<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Description de nos produits" />
    <link rel="stylesheet" href="/styles/index.css" />
    <title>Details <%= detailsProduct.titre %></title>
  </head>
  <body>
    <%- include('../../components/header.ejs') %>
    <main class="mainProduct">
      <article class="ficheProduct">
        <% if (detailsProduct) { %>
        <div class="imgFicheProduct">
          <h2><%= detailsProduct.titre %></h2>
          <img
            src="/images/<%= detailsProduct.titre.split(' ').join('-') %>.webp"
            alt="Photo du produit"
          />
          <span class="contenance"><%= detailsProduct.contenance %></span>
          <div>
            <p><%= detailsProduct.description %></p>
          </div>
        </div>
        <div class="productSup">
          <div>
            <h3>Conseil d'utilisation:</h3>
            <ul>
              <li>Etapes 1 : <%= detailsProduct.etape1 %></li>
              <li>Etapes 2 : <%= detailsProduct.etape2 %></li>
              <li>Etapes 3 : <%= detailsProduct.etape3 %></li>
              <li>Etapes 4 : <%= detailsProduct.etape4 %></li>
              <% if (!detailsProduct.etape5) { %>
              <!--  Si details product n'est pas rempli rien ne s'affiche  -->
              <% } else { %>
              <!-- Sinon  affiche les informations-->
              <li>Etapes 5 : <%= detailsProduct.etape5 %></li>
              <% } %>
            </ul>
          </div>
          <div>
            <h3>Bénéfice produit</h3>
            <p><%= detailsProduct.benefice %></p>
          </div>
          <p>Précaution d'utilisation : <%= detailsProduct.precaution %></p>
        </div>
      </article>
      <% } %>
    </main>
    <%- include('../../components/footer.ejs') %>
    <script src="/scripts/burger.js"></script>
  </body>
</html>
